@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

:root {
    --heading: hsl(0, 0%, 98%);
    --todo: hsl(0, 0%, 98%);
    --todo-item:  hsl(0, 4%, 5%);
    --body-bg: hsl(236, 33%, 92%);
    --count: hsl(233, 11%, 84%);
    --footer: hsl(236, 9%, 61%);
    --clear-hover: hsl(237, 14%, 26%);
    --footer-hover: hsl(237, 14%, 26%);
    --all-hover: hsl(220, 98%, 61%);

    --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
    --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --Light-Grayish-Blue: hsl(234, 39%, 85%);
    --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
    --Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
    --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);


}

.darkTheme {
    --heading: hsl(0, 0%, 98%);
    --todo:  hsl(235, 19%, 35%);
    --todo-item:  hsl(0, 0%, 98%);
    --body-bg: hsl(235, 24%, 19%);
    --count: hsl(233, 11%, 84%);
    --footer: hsl(236, 9%, 61%);
    --clear-hover: hsl(236, 33%, 92%);
    --footer-hover: hsl(0, 0%, 100%);
    --all-hover: hsl(220, 98%, 61%);
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}


/* Set core body defaults */
body {
    min-height: 100vh;
    background-color: var(--body-bg);
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Josefin Sans', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}


*:focus {
    outline: none;
}


.desktop-background {
    width: 100vw;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: auto;
    flex-direction: column;
    transform: translateY(-178px);
}

.wrapper * {
    margin-block: .3rem;
}

.wrapper div {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    color: var(--heading);
    text-transform: uppercase;
    letter-spacing: 1rem;
}

.theme {
    height: 31px;
}

.todo-input {
    display: flex;
    gap: 1.5rem;
    background-color: var(--todo);
    align-items: center;
    justify-content: space-around;
    padding-inline: 0.8rem;
    border-radius: 0.2rem;
}

#todo-input {
    background-color: var(--todo);
    color: var(--todo-item);
    font-size: clamp(10px, 1.2vw, 1.5rem);
    width: 100%;
    padding-block: 0.8rem;
    border: 0px solid;
    border-radius: 0.2rem;
}


.todo-wrapper {
    background-color: var(--todo);
    padding: 1rem;
    border-radius: 0.3rem;
    box-shadow: 2px 2px 17px 1px rgba(87, 76, 76, 0.46);
    -webkit-box-shadow: 2px 2px 17px 1px rgba(87, 76, 76, 0.46);
    -moz-box-shadow: 2px 2px 17px 1px rgba(87, 76, 76, 0.46);
}

#simpleList {
    padding: 0;
}

.todo-item {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    width: 100%;
}


.todo {
    margin-right: auto;
}

.todos * {
    cursor: pointer;
}

.check {
    padding-inline: 6px;
    padding-block: 3px;
    border: 0px;
    height: 25px;
    width: 24px;
    border-radius: 50%;
    background: linear-gradient(45deg, #57ddff, #c058f3);
}

.todo p {
    font-weight: 500;
    font-size: clamp(10px, 1.2vw, 1.5rem);
    color: var(--todo-item);
}


.filters {
    display: flex;
    justify-content: space-evenly;
}

.footer {
    color: var(--footer);
    display: flex;
    align-items: baseline;
}

.footer * {
    cursor: pointer;
}

.footer p:not([class="all"]) {
    transition: all ease-in-out .3s;
}

.footer p:not([class="all"]):hover {
    font-weight: 500;
    color: var(--footer-hover);
}


.clear {
    text-align: end;
}

.all:hover {
    color: var(--all-hover);
    font-weight: 600;
}

.count {
    color: var(--count);
}

.clear:hover {
    color: var(--clear-hover);
}

.dragdrop {
    text-align: center;
    color: var(--footer);
    line-height: 6rem;
    cursor: pointer;
}